.is-checkradio + label {
  padding-top: 1px !important;
  -webkit-user-select: none; }

html, body, #react-root {
  background-color: #eee;
  position: relative;
  display: block;
  height: 100%; }

.page {
  margin-left: 70px;
  padding: 15px 25px; }

.env-selector {
  border-right: solid 1px #bbb;
  background-color: #ccc;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 70px;
  left: 0;
  top: 0; }

.env-selector .env-button-wrapper {
  margin: 10px; }

.env-selector .env-button {
  background-color: #798468;
  border: solid 1px #bbb;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  position: relative;
  display: block;
  height: 50px;
  color: #fff;
  width: 50px; }

.env-selector .env-button.env-active:after {
  transform: translate(52px, 18px) rotate(-45deg);
  border-bottom-right-radius: 100px;
  border: solid 1px #bbb;
  background-color: #eee;
  position: absolute;
  display: block;
  height: 12px;
  content: '';
  z-index: -1;
  width: 12px;
  left: 0;
  top: 0;
  border-bottom: none;
  border-right: none; }

.env-selector .env-button * {
  line-height: 50px; }

.env-selector .env-button.home-env {
  background-image: url("../ogma-icon-128.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  background-color: #fcb192; }

.env-selector .env-button.add-env {
  background-color: transparent;
  border: dashed 1px #999;
  box-shadow: none;
  color: #999; }

.env-tab-box {
  border-top-left-radius: 0;
  padding: 1.25rem;
  margin-top: -24px; }

.env-tab-level {
  margin-bottom: 1.25rem; }

.file-entry {
  -webkit-user-select: none; }
  .file-entry-thumb, .file-entry-icon, .file-entry-name {
    vertical-align: middle;
    display: inline-block;
    padding: 3px; }
  .file-entry-thumb, .file-entry-thumb *, .file-entry-thumb *:before, .file-entry-icon, .file-entry-icon *, .file-entry-icon *:before {
    text-align: center;
    font-size: 1.3rem;
    margin: auto; }
  .file-entry-thumb, .file-entry-thumb *, .file-entry-thumb *:before {
    font-size: 0; }
  .file-entry-name {
    word-wrap: break-word;
    font-size: 1rem; }
    .file-entry-name-base {
      font-weight: 500; }
      .file-entry-name-base span {
        color: #ddd; }
    .file-entry-name-ext {
      color: #aaa; }
    .file-entry-name-info {
      margin-left: 5px;
      font-size: 0.8em;
      color: #ddd; }
  .file-entry-list, .file-entry-list-columns {
    border-bottom: solid 1px #efefef;
    padding: 3px; }
    .file-entry-list:last-of-type, .file-entry-list-columns:last-of-type {
      border-bottom: none; }
    .file-entry-list .file-entry-thumb, .file-entry-list .file-entry-icon, .file-entry-list-columns .file-entry-thumb, .file-entry-list-columns .file-entry-icon {
      width: 50px; }
  .file-entry-list .file-entry-thumb, .file-entry-list .file-entry-icon {
    width: 60px; }
  .file-entry-list .file-entry-icon, .file-entry-list .file-entry-icon *, .file-entry-list .file-entry-icon *:before {
    font-size: 1.5rem; }
  .file-entry-list .file-entry-name {
    font-size: 1.3rem; }
  .file-entry-thumbs-small, .file-entry-thumbs-large {
    margin: 0 0.625rem 0.625rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 120px; }
    .file-entry-thumbs-small .file-entry-thumb, .file-entry-thumbs-small .file-entry-icon, .file-entry-thumbs-small .file-entry-name, .file-entry-thumbs-large .file-entry-thumb, .file-entry-thumbs-large .file-entry-icon, .file-entry-thumbs-large .file-entry-name {
      display: block; }
    .file-entry-thumbs-small .file-entry-icon, .file-entry-thumbs-small .file-entry-icon *, .file-entry-thumbs-small .file-entry-icon *:before, .file-entry-thumbs-large .file-entry-icon, .file-entry-thumbs-large .file-entry-icon *, .file-entry-thumbs-large .file-entry-icon *:before {
      font-size: 3rem; }
  .file-entry-thumbs-large {
    width: 200px; }
    .file-entry-thumbs-large .file-entry-icon, .file-entry-thumbs-large .file-entry-icon *, .file-entry-thumbs-large .file-entry-icon *:before {
      font-size: 4rem; }
