$size: 50px;

.env-selector {
    border-right: solid 1px #bbb;
    background-color: #ccc;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 70px;
    left: 0;
    top: 0;

    .env-button-wrapper {
        margin: 10px;
    }

    .env-button {
        background-color: #798468;
        border: solid 1px #bbb;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        position: relative;
        display: block;
        height: $size;
        width: $size;
        color: #fff;
    }

    .env-button.env-active:after {
        transform: translate(52px, 18px) rotate(-45deg);
        border-bottom-right-radius: 100px;
        border: solid 1px #bbb;
        background-color: #eee;
        position: absolute;
        display: block;
        height: 12px;
        content: '';
        z-index: -1;
        width: 12px;
        left: 0;
        top: 0;

        border-bottom: none;
        border-right: none;
    }

    .env-button {
        &.home-env {
            background-image: url('../ogma-icon-128.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px 40px;
            background-color: #fcb192;
        }
        .env-icon {
            line-height: $size - 3px;
            font-size: 1.5rem;
        }
        .env-symbol{
            line-height: $size - 5px;
            font-size: 1.5rem;
        }
        &.add-env {
            background-color: transparent;
            border: dashed 1px #999;
            box-shadow: none;
            color: #999;
        }
    }

}

