@import 'variables';

.env-tab-box {
    border-top-left-radius: 0;
    padding: $env-tab-margin;
    margin-top: -24px;
}

.env-tab-level {
    margin-bottom: $env-tab-margin;
}

.file-entry {
    -webkit-user-select: none;

    &-thumb, &-icon, &-name {
        vertical-align: middle;
        display: inline-block;
        padding: 3px;
    }

    &-thumb, &-icon {
        &, & *, & *:before {
            text-align: center;
            font-size: 1.3rem;
            margin: auto;
        }
    }

    &-thumb {
        &, & *, & *:before {
            font-size: 0;
        }
    }

    &-name {
        word-wrap: break-word;
        font-size: 1rem;
        &-base {
            font-weight: 500;
            span {
                color: #ddd;
            }
        }
        &-ext {
            color: #aaa;
        }
        &-info {
            margin-left: 5px;
            font-size: 0.8em;
            color: #ddd;
        }
    }

    &-list, &-list-columns {
        border-bottom: solid 1px $file-entry-list-border;
        padding: 3px;
        &:last-of-type {
            border-bottom: none;
        }
        .file-entry-thumb, .file-entry-icon {
            width: 50px;
        }
    }

    &-list {
        .file-entry-thumb, .file-entry-icon {
            width: 60px;
        }
        .file-entry-icon {
            &, & *, & *:before {
                font-size: 1.5rem;
            }
        }
        .file-entry-name {
            font-size: 1.15rem;
        }
    }

    &-thumbs-small, &-thumbs-large {
        margin: 0 $env-tab-margin/2 $env-tab-margin/2;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 120px;
        .file-entry-thumb, .file-entry-icon, .file-entry-name {
            display: block;
        }
        .file-entry-icon {
            &, & *, & *:before {
                font-size: 3rem;
            }
        }
    }

    &-thumbs-large {
        width: 200px;
        .file-entry-icon {
            &, & *, & *:before {
                font-size: 4rem;
            }
        }
    }

}
