html, body, #react-root {
    background-color: #eee;
    position: relative;
    display: block;
    height: 100%;
}

.modal-button {
    margin: 0 10px;
}

.page {
    margin-left: 70px;
    padding: 15px 25px;
}

.colour-preview {
    display: inline-block;
    margin-bottom: -3px;
    border-radius: 2px;
    height: 1em;
    width: 2em;
}

.text-loader {
    &-loading {
        color: #ccc;
    }
    &-failed {
        color: #fca3a8;
    }
    &-none {
        color: #999;
    }
}